@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

a {
	color: #ccc;
	text-decoration: none;
}

.todo_wrapper {
	width: 500px;
	/* padding: 10px; */
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	animation: fade 1s;
}

.welcome-wrapper {
	width: 500px;
	padding: 10px;
	/* position: absolute;
	top: 55%;
	right: 50%;
	transform: translate(50%, -50%); */
	animation: fade 1s;
}

.logo {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	 margin: 10px 15px; 
	display: flex;
	justify-content: space-between;
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.banner-wrapper{
	position: relative;
	width: 100%;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgb(176, 235, 243) 0%,
		rgba(154, 222, 222, 1) 45%,
		rgba(154, 222, 222, 1) 72%
	);
}


.banner {
	position: relative;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	z-index: 99;
	transition: all .3s;
}

.banner_content {
	text-align: center;
}

.banner_link {
	padding: 10px;
	font-size: 20px;
}

.banner_image {
	position: relative;
	width: 30%;
	padding-bottom: 38%;
	transition: all .3s;
}

.banner_image img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-blend-mode: multiply;
	background-color: #e6e5fc;
}

.banner_greetings {
	width: 22%;
	text-align: right;
	transition: all .3s;
}

.hour_handle {
	color: rgb(214, 38, 38);
	font-weight: bold;
	margin: 13px 0px;
	transition: all .3s;
}

.conditionals {
	color: indigo;
	word-break: break-word;
	transition: all .3s;
}

.conditinal_img {
	width: 100%;
	height: 45px;
}

.banner_text {
	position: relative;
	color: indigo;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 20px;
	margin: 0px 15px;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgb(176, 235, 243) 0%,
		rgba(154, 222, 222, 1) 45%,
		rgba(154, 222, 222, 1) 72%
	);
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.banner_text::before {
	content: "";
	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.header_link {
	color: rgb(214, 38, 38);
	font-weight: bold;
	text-decoration: none;
}

.todo_link {
	cursor: not-allowed;
	pointer-events: none;
	color: rgb(214, 38, 38);
	font-weight: bold;
	text-decoration: none;
}

.todo_item {
	width: 100%;
	padding: 5px;
	/* margin: 0px 0px 5px; */
	word-break: break-all;
	/* border-bottom: 2px solid indigo; */
	/* border-radius: 4px; */
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23); */
	/* text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%); */
	display: flex;
	flex-direction: column;
	animation: fade 1s;
	transition: all .2s ease 0s;
}

.todo_item:hover {
	box-shadow: none;
}

.calendar {
	color: indigo;
}

.btnStyle {
	margin-right: 0;
	margin-left: auto;
}

.btnStyle i {
	color: #ff0000;
	border: none;
	outline: none;
	cursor: pointer;
	float: right;
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	font-weight: 600;
	font-size: 21px;
	padding-top: 1px;
}

.form_content {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	/* border-radius: 15px; */
	font-size: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23); */
	animation: fade 1s;
}

.Search_Submit {
	width: 100%;
	margin-bottom: 10px;
	font-size: 1.0rem;
	border-radius: 4px;
	transition: .3s;
}

.btn_submit,
.btn_login {
	/* width: 25%; */
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #ffff;
	border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 11px;
	text-decoration: none;
	outline: none;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(107, 215, 209, 1) 0%,
		rgba(154, 222, 222, 1) 45%,
		rgba(154, 222, 222, 1) 72%
	);
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.btn_login {
	width: 130px;
	cursor: not-allowed;
	pointer-events: none;
	float: right;
	background: linear-gradient(to right top, #8b49dc, #7a3cc7, #6a2fb3, #5a229f, #4a148c);
}

.btn_submit:hover {
	/* border: 1px solid #b6ab71fd !important; */
	color: indigo;
	border-radius: 10px;
	transition: .3s;
}

input[type=text],
select {
	border: 1px solid #82ccc6;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	resize: vertical;
	outline: none;
	box-shadow: 0 8px 8px -11px #312;
	transition: .3s;
	/* border-top-style: none; */
	/*border-block-end-style: none;
  border-block-start-style: none;*/
}

input[type=text]:focus,
select:focus {
	border: 1px solid #b6ab71fd !important;
	display: inline-block;
	background: rgb(255, 254, 254);
}

/* The css-checkbox container */
.css-checkbox {
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.css-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 1px;
	left: 0;
	height: 18px;
	width: 18px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	background: rgb(157, 219, 219);
	border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.css-checkbox:hover input ~ .checkmark {
	background-color: rgb(255, 251, 251);
}

/* When the checkbox is checked, add a background */
.css-checkbox input:checked ~ .checkmark {
	background-color: rgb(161, 207, 76);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.css-checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.css-checkbox .checkmark:after {
	left: 6px;
	top: 1px;
	width: 6px;
	height: 14px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

::-webkit-input-placeholder {
	text-align: center;
	color: rgb(0, 30, 128);
	font-weight: bold;
}

:-moz-placeholder {
	text-align: center;
}

::-moz-placeholder {
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

/*=============================social media===========================*/
.icon_group {
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.media-icon {
	position: relative;
	width: 27px;
	height: 27px;
	border-radius: 25px;
	transition: .3s;
}

.media-icon img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

.media-icon:hover {
	transform: scale(1.1);
}

.normal {
	text-align: center;
	font-family: 'Trebuchet MS';
	background: #f9f9ff;
}

/*============= progress indicator ==============*/

.progress {
	background-color: rgb(212, 176, 238);
	border-radius: 4px;
	position: relative;
	margin: 0 15px 15px;
	height: 30px;
	/* width: 470px;  */
	background-color: #e3e9ff;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	transition: all .3s;
}

.progress-done {
	border-radius: 4px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: .7s;
	background: linear-gradient(to left, #F2709C, #FF9472);
	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

/*============= fade ==============*/
@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	
	.welcome-wrapper {
		 width: 100%;
	}

	.todo_wrapper {
		width: 100%;
		margin: initial;
		padding: initial;
	}

	.banner_image {
		display: none;
	}

	.banner_greetings {
		width: 160px;
	}

	.conditinal_img {
		width: 100px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.welcome-wrapper {
		width: 100%;
	}
}
